<div class='nested-fields'>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <%= link_to_remove_association "Remove Location", f %>
  </div>